@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

#whole {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

#left {
    width: 58%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 12%;
    padding-top: 65px;
    box-sizing: border-box;
    background-color: #fff9f9;
}

#header {
    margin-bottom: 125px;
}

#img1 {
    width: 165px;
    height: auto;
}

#bigtext {
    display: flex;
    flex-direction: column;
    gap: 0;
    font-size: 64px;
    line-height: 1.05;
    letter-spacing: 12px;
    font-weight: 600;
}

#a01 {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

#a02 {
    color: #302d2f;
}

#a03 {
    color: #302d2f;
}

#text {
    color: hsl(0, 36%, 70%);
    width: 500px;
    font-size: 16px;
    line-height: 28px;
    margin-top: 30px;
}

#send {
    padding: 0;
    margin-top: 40px;
    width: 445px;
    height: 56px;
    display: flex;
    align-items: center;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

#send h3 {
    color: #dfc1c2;
    font-size: 15px;
    font-weight: 400;
    padding-left: 30px;
}

#button {
    margin-left: auto;
    width: 100px;
    height: 56px;
}

#button button {
    width: 100%;
    height: 100%;
    background-color: #ed9da1;
    border: none;
    border-radius: 30px;
}

#img2 {
    width: 12px;
    height: auto;
}

#right {
    width: 40%;
    height: 100%;
    overflow: hidden;
}

#right img {
    width: 100%;
    height: 100%;
}