#d1{
    height: 350px;
    width: 300px;
    background-image: url(https://th.bing.com/th/id/OIP.vFDC37iWTzU07udoGlaQsQHaED?w=334&h=184&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3);
    background-repeat: repeat-x;
}
/* transform: translate() — გადაადგილებს ელემენტს X და Y მიმართულებით */
/* transition — აკონტროლებს ცვლილების smooth ანიმაციას */
/* hover-ზე ხდება ცვლილება და transition ამას ანიმაციად აქცევს  */