*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 300vh;
}


/* ------------------------HEADER/NAV------------------------ */
header{
    height: 300px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    border-bottom: 1px solid black;
}
nav{
    display: flex;
    gap: 25px;
    text-align: center;
}
.navi{
    text-decoration: none;
    font-size: 25px;
    color: red;
}

.navi:hover{
    color: goldenrod;
    transition: 0.2s;
}
/* ------------------------------MAIN--------------------- */
#idk{
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.qgRF0iRm7DAeMv6RosQcEQHaE7?r=0&rs=1&pid=ImgDetMain&o=7&rm=3);
    background-size: cover;
    background-position: center;
}
#yap1{
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    margin-left: 10px;
    margin-right: 20px ;
    margin-bottom: 200px;
    margin-top: 100px;
    padding-left: 200px;
    display: flex;
    gap: 200px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    background-color: white;
}
#yap2{
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    margin-left: 10px;
    margin-right: 20px ;
    margin-bottom: 200px;
    margin-top: 100px;
    padding-left: 200px;
    display: flex;
    gap: 200px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    background-color: white;
}
#yap3{
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    margin-left: 10px;
    margin-right: 20px ;
    margin-bottom: 200px;
    margin-top: 100px;
    padding-left: 200px;
    display: flex;
    gap: 200px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    background-color: white;
}
