#d1 .playwrite-gb-j-guides-regular {
  font-family: "Playwrite GB J Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.playwrite-gb-j-guides-regular-italic {
  font-family: "Playwrite GB J Guides", cursive;
  font-weight: 400;
  font-style: italic;
}
 #d2 .playwrite-gb-j-guides-regular {
  font-family: "Playwrite GB J Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.playwrite-gb-j-guides-regular-italic {
  font-family: "Playwrite GB J Guides", cursive;
  font-weight: 400;
  font-style: italic;
}
